.main-image {
    position: relative;
    background: url(../../../../assets/14.jpg) no-repeat center;
    background-size: cover;
    height: 500px;
    overflow: hidden; 
}

.containerr {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #fff;
    font-weight: 700;
    text-transform: uppercase;
}

.containerr h1{
    margin: 0;
    font-size:70px
}

.containerr h1 span{
    border: 6px solid white;
    padding: 6px 14px;
    display: inline-block; 
}

.cen{
    margin: 20px;
    display: block;
    font-size: 22px;
}

.button{
    color:#313131;
    padding: 10px 24px;
    background: #f1f1f1;
    text-decoration: none;
    border-radius: 12px;
    transition: .6s;
}

.button:hover{
    opacity: .6;
}



