
.contenedor{
  width: 60%;
  border-radius: 15px;
  background: linear-gradient(00deg, #212529, #ff0303);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
  margin-bottom: 3rem;
}


.field {
    margin-bottom: 10px;
  }
  
  .field label {
    margin-top: 0.5rem;
    display: block;
    font-size: 1.3rem;
    color: #fff;
  }
  
  .field input {
    margin-top: 0.5rem;
    display: block;
    width: 25rem;
    height: 2rem;
    line-height: 1.5;
    font-size: 14px;
    border-radius: 5px;
  }
  
  input[type="submit"] {
    display: block;
    padding: 6px 30px;
    font-size: 1rem;
    /* background: linear-gradient(10deg, #1b1515, #ff0000); */
    background-color: #ff0000;
    color: #fff;
    border: none;
    margin-top: 2rem;
  }

  textarea{
    width: 25rem;
    height: 7rem;
  }