.contenedor{
  width: 60%;
  border-radius: 15px;
  background: linear-gradient(00deg, #212529, #ff0303);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
  margin-bottom: 3rem;
}


.field {
    margin-bottom: 10px;
  }
  
  .field label {
    margin-top: 0.5rem;
    display: block;
    font-size: 1.3rem;
    color: #fff;
  }
  
  .field input {
    margin-top: 0.5rem;
    
    width: 25rem;
    height: 2rem;
    line-height: 1.5;
    font-size: 14px;
    border-radius: 5px;
    justify-content: center;
  }
  
  input[type="submit"] {
    display: block;
    padding: 6px 30px;
    font-size: 1rem;
    /* background: linear-gradient(10deg, #1b1515, #ff0000); */
    background-color: #ff0000;
    color: #fff;
    border: none;
    margin-top: 2rem;
  }

  textarea{
    width: 25rem;
    height: 7rem;
  }

  @media only screen and (max-width: 900px){

    .field input {
      
      width: 20rem;
      height: 2rem;
      font-size: 13px;
      
    }

    textarea{
      width: 20rem;
      height: 5rem;
      font-size: 13px;
    }

    input[type="submit"] {
      display:inline-block;
      margin-top: 1rem;
      padding: 0 0 .5rem;
      
    }
  }
  @media only screen and (max-width: 700px){

    .field input {
      
      width: 15rem;
      height: 1.5rem;
      font-size: 12px;
    }

    textarea{
      width: 15rem;
      height: 5rem;
      font-size: 12px;
    }

    input[type="submit"] {
      display:inline-block;
      margin-top: 1rem;
      padding: 0 0 .5rem;
      
    }
  }

  @media only screen and (max-width: 500px){

    .field input {
      
      width: 10rem;
      height: 1.2rem;
      font-size: 11px;
      
    }

    textarea{
      width: 10rem;
      height: 4rem;
      font-size: 11px;
    }

    input[type="submit"] {
      display:inline-block;
      margin-top: 1rem;
      padding: 0 0 .5rem;
      
    }
  }