@import url('https://fonts.googleapis.com/css?family=Inter:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,800&family=Outfit:wght@500;800&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,800&family=Outfit:wght@500&display=swap');


/* NOTA: PASEMOS TODOS LOS ESTILOS GLOBALES AL INDEX PARA PROBAR SI ES LO QUE NOS ESTA FASTIDIANDO JJEJE */
:root{
    --mainColor: rgba(0,0,0);
    --mainColorLight: rgba(0,0,0, 0.6);
    --secondaryColor: rgba(255,13,0);
    --textColor: #ffffff;
    --btnColor: #1000f5;

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    color: white;
    z-index: 1;
}

body {
    background: rgb(2, 2, 26 );
    min-height: 100vh;
    font-family: 'Outfit','Montserrat', sans-serif;
    font-size: 1.2rem;

}

